<div class="search-message">
  <% unless @count.zero? %>
    <%= t '.ndash_z', :results_offset => (@results.offset + 1), :results_offset_1 => ([@results.offset + @results.per_page, @count].min), :translate_with => (translate_with_count(@count, :result)) %>
  <% else %>
    <%= t '.nenájdené', :translate_with => (translate_with_count(@count, :result)) %>
  <% end %>
  (<%= t '.ms', :results_time => (@results.time) %>
</div>
