<% if @results.any? %>
  <%= render "#{@type.to_s.pluralize}/results", results:  @results, offset: @results.offset %>
<% else %>
  <div class="alert alert-info search-alert">
    <%= t '.nastaveným_html', :icon_tag => (icon_tag :'search') %>
  </div>
<% end %>
