<h2><%= t '.zmienky_v' %></h2>

<% if results.any? %>
  <div class="alert alert-warning">
    <%= t '.odkazy_sú_vyh', :icon_tag => (icon_tag :'warning-sign') %>
  </div>

  <%= render 'shared/context_search_results', results: results, offset: 0 %>
<% else %>
  <%= t '.o_súde_neboli' %>
<% end %>
